*{
    margin: 0px !important;
}
.rectangle-2{
width: 1150px;
height: 600px;
flex-shrink: 0;
border-radius: 10px;
background: rgba(217, 217, 217, 0.86);
display: flex;
align-items: center;
justify-content: center;
}

.fundo{
    padding: 45vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('/src/assets/963698.jpg');
    width: 100%;
    width: 1440px;
    height: 800px;
    background-size: cover;
    margin-top: 10px !important;
}

.swiper {
  margin-left: 10px;
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
