.Fundo{
    background-image: linear-gradient( 96.5deg,  rgba(39,103,187,1) 10.4%, rgba(16,72,144,1) 87.7% );
    background-size:100%;
}
body{
    background-image: linear-gradient( 96.5deg,  rgba(39,103,187,1) 10.4%, rgba(16,72,144,1) 87.7% );
    background-size:100%;
}
.footer{
    justify-content: center;
    align-items: center;
    display: flex;
}
#assina{
    font-size:20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:#031829;
    text-decoration:underline;
}